._billing_persontype_field,
._billing_ie_field,
._billing_birthdate_field,
._billing_address_1_field,
._billing_birthdate_field,
._shipping_address_1_field {
    float: left!important;
}

._billing_birthdate_field,
._billing_sex,
._billing_number_field,
._billing_cnpj_field,
._billing_cpf_field,
._shipping_number_field {
    float: right!important;
}

#order_data .order_data_column ._billing_persontype_field,#order_data .order_data_column ._billing_cpf_field,#order_data .order_data_column ._billing_rg_field,#order_data .order_data_column ._billing_cnpj_field,#order_data .order_data_column ._billing_ie_field{clear:both !important;width:100% !important}#order_data .order_data_column ._billing_sex_field,#order_data .order_data_column ._billing_number_field,#order_data .order_data_column ._shipping_number_field{float:right !important}

#order_data .order_data_column .form-field {
  clear: none !important;
}

p.form-field._billing_sex_field label {
    margin-left: -17px;
}

input#_billing_sex {
    margin-left: -17px;
}

p.form-field._shipping_person_info_field,
p.form-field._shipping_persontype_field,
p.form-field._shipping_cpf_field,
p.form-field._shipping_cnpj_field,
p.form-field._shipping_ie_field{
    width: 100%!important;
}
input#_shipping_person_info {
    width: auto!important;
}
.transporte, .nfe_installments, .product_others {
    display: none;
}
#woocommernfe_informacoes_adicionais .title, #woocommernfe_informacoes .title {
    font-size:13px;
    line-height:1.5em;
    font-weight:bold;
}
.nfe_installments.row, .nfe_installments.row-first {
    padding: 5px 15px 15px 15px !important;
	background: #e8e8e8;
	border-radius: 10px;
	margin-top: 10px !important;
}
.nfe_installments .label {
    margin-bottom:0px !important;
    margin-top: 5px !important;
}
.nfe_installments .title {
    font-size:12px !important;
}