.all-nfe-info {
  border: 1px solid #e1e1e1;

  padding-left:15px;
  padding-right:15px;
  margin-bottom: 15px;
}

.extra{
  display: none;
}

.head {
  border-bottom: 1px solid #e1e1e1;

}

.single{
  border-bottom: 1px solid #e1e1e1;
  position: relative;
}

.body .single:last-child{
  border-bottom:0;
}

.head-title,
.body-info{
  display: inline-block;
  width:24.5%;
}

.update-nfe{
  text-decoration: none;
  color: #444;
  border-radius: 50%;
  padding: 3px;
  font-size: 15px;
  line-height: 19px;
  margin-left: 5px;
  vertical-align: top;
  color: #31708f;
  position: relative;
  background-color: #d9edf7;
  top: -5px;
  position:relative;
}

.unstyled{
  text-decoration: none;
}
.update-nfe:focus,
.unstyled:focus,
.unstyled:active{
  outline:0!important;
  box-shadow:none;
  text-decoration:none;
}

.update-nfe::after{
  content: 'Atualizar status';
  position: absolute;
  color: #fff;
  background-color: #000;
  left: -90px;
  top: -25px;
  width: 100px;
  border-radius: 5px;
  font-size: 12px;
  font-family: sans-serif;
  display: none;

}

.update-nfe:hover::after{
  display:block;
}

.expand-nfe{
  position: absolute;
  right: 0;
  top: 18px;
  cursor:pointer;
  -webkit-transition: transform 300ms;
  transition: transform 300ms;
}

.danfe-icon{
  display:none;
  cursor:pointer;
  text-decoration: none;
}

.nfe-status {
  text-transform: capitalize;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 3px;
}

.nfe-status.aprovado {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 5px 10px;
  border-radius: 3px;
}

.nfe-status.reprovado,
.nfe-status.cancelado {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.nfe-status.processando,
.nfe-status.processamento ,
.nfe-status.contingencia{
  background-color: #eccb28;
  color: #000;
  font-weight: 600;
}

@media (max-width:1140px){
  .n-column,
  .danfe-column{
    width:15%;
  }

  .status-column{
    width:40%;
  }

  .danfe-icon{
    display:block;
  }

  .wrt{
    display: none;
  }
}
